.a{
    background-color: #F8F9FA;
}
.e{
    background-color: #F8F9FA;
}
.h{
    background-color: #F8F9FA;
}
.f{
    background-color: #F8F9FA;
}
.i{
    background-color: #F8F9FA;
}
.nav-link:hover{
    background-color: rgb(181, 181, 211);border-radius: 10px;
    color: black;
}
